@font-face {
    font-family: audimat;
    src: url(Audimat.ttf);
}

@font-face {
    font-family: subspaceregular;
    src: url('../fonts/subspace-webfont.woff2') format('woff2'),
         url('../fonts/subspace-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: dinregular;
    src: url(dinregular-webfont.woff2);
    font-weight: normal;
    font-style: normal;

}

html {
  background: url('../img/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  background-color:transparent;
}

.soon {
  padding-top:150px;
  text-align:center;
}

text {
  font-size: 70px;
}

text:nth-child(2) {
  fill:white;
  font-family: 'Open Sans', sans-serif;
  font-size:18px;
  display: none;
}

text:nth-child(3) {
  fill:white;
  font-family: 'Open Sans', sans-serif;
  font-size:18px;
  display: none;
}
text:nth-child(4) {
  fill:white;
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  display: none;
}
text:nth-child(5) {
  fill:white;
  font-family: 'Open Sans', sans-serif;
  font-size:12px;
  display: inherit;
}





@media(min-width:320px){
text {
  font-size: 80px;
}

}

@media(min-width:360px){
text {
  font-size: 90px;
}
text:nth-child(4) {
  display: inherit;
}
text:nth-child(5) {
  display: none;
}

}

@media(min-width:480px){
text {
   font-size: 120px;
}
text:nth-child(3) {
  display: inherit;
}
text:nth-child(4) {
  display: none;
}
}

@media(min-width:768px){
.soon {
  padding-top:0;
  position:fixed;
  top:50%;
  left:50%;
  margin-left:-221px;
  margin-top:-115px;
}
text {
  font-size: 160px;
}
text:nth-child(2) {
  display: inherit;
}
text:nth-child(3) {
  display: none;
}

}


.soon img {
  max-width:100%;
}

.morse-logo{
    font-family: 'subspaceregular';
    font-size:105px;
    color:#a55c5c;
    line-height:1;
letter-spacing: 3px;
}

.soon-text{
color:white;
font-family: 'Open Sans', sans-serif;
font-size:18px;

}


@media(min-width:768px){
  .morse-logo{
    font-size:155px;
    letter-spacing: 10px;
  }
  .soon-text{
    font-size:24px;
  }
}


.insta {
  position:fixed;
  bottom:70px;
  left:50%;
  margin-left:-25px;
}

.insta img {
  width:60px;
}
